django
whitenoise
django-compressor
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-filter
django-allauth
uvicorn[standard]
psycopg2-binary
dj-database-url 
python-dotenv
boto3
pymupdf4llm
pytesseract
pillow
requests
pdf2image
rapidocr
httpx