django
whitenoise
django-compressor
djangorestframework
django-cors-headers
django-filter
uvicorn
social-auth-app-django
psycopg2-binary
dj-database-url 
python-dotenv
boto3
pymupdf4llm
pytesseract
pillow
docling
easyocr
onnxruntime
gradio_client
requests
pdf2image