{% extends "admin/_base.html" %}
{% load static %}

{% block content %}

<div class="max-w-md mx-auto mt-10 p-6  ">
    <h2 class="text-xl font-semibold mb-4">Cambiar contraseña</h2>
    
    <form method="POST">
        {% csrf_token %}

        <div class="mb-4">
            <label for="current_password" class="block text-gray-700 mb-2">Contraseña actual</label>
            <input type="password" name="current_password" id="current_password" 
                   class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-slate-500 focus:border-slate-500" 
                   placeholder="Ingresa tu contraseña actual" required>
        </div>

        <div class="mb-4">
            <label for="new_password" class="block text-gray-700 mb-2">Nueva contraseña</label>
            <input type="password" name="new_password" id="new_password" 
                   class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-slate-500 focus:border-slate-500" 
                   placeholder="Ingresa tu nueva contraseña" required>
        </div>

        <div class="mb-4">
            <label for="confirm_password" class="block text-gray-700 mb-2">Confirmar nueva contraseña</label>
            <input type="password" name="confirm_password" id="confirm_password" 
                   class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-slate-500 focus:border-slate-500" 
                   placeholder="Confirma tu nueva contraseña" required>
        </div>

        <button type="submit" 
                class="w-full cursor-pointer bg-slate-800 hover:bg-slate-900 rounded-lg text-amber-400 py-2 rounded">Cambiar contraseña</button>
    </form>
</div>
{% include 'componentes/error.html' with messages=messages %}
{% endblock content %}
