{% load static %}
<div class="flex w-full flex-col lg:flex-row p-2 bg-white my-2 rounded-lg ">
    <div class="flex-shrink-0 flex justify-center items-center p-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="text-slate-400" viewBox="0 0 32 32"><path fill="currentColor" d="M26 28H6c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2h22v2H6v20h20V8h2v18c0 1.1-.9 2-2 2M15 10h-5v5h5zm7 0h-5v5h5zm-7 7h-5v5h5zm7 0h-5v5h5z"/></svg>
    </div>

    <div class="flex flex-col lg:flex-row w-full justify-between items-start lg:items-center px-3 gap-4">
        <div class="flex flex-col w-full gap-1">
            <p class="text-sm font-bold text-gray-700 truncate uppercase">
                {{ consultoria.nombre|truncatechars:100 }}
            </p>

            {% if consultoria.descripcion_general %}
            <p class="text-xs text-gray-500">
                <strong>Descripción:</strong> {{ consultoria.descripcion_general|truncatechars:150 }}
            </p>
            {% endif %}

        </div>

        <div class="flex w-full flex-col lg:flex-row gap-2 items-end lg:items-center">
            <div class="flex flex-col gap-1 px-3 py-2 text-gray-500 w-full justify-center items-center" style="font-size: 10px;">
                <strong class="m-0 p-0">Registro:</strong>
                {{ consultoria.fecha_registro|date:"d/m/Y H:i" }}
            </div>

            {% if user.rol.nombre == 'Administrador' %}
            <div class="flex gap-2 w-full justify-end">
                {% include 'admin/consultorias/btn_detalle_registro.html' with consultoria=consultoria %}
                {% include 'admin/consultorias/btn_formulario_editar.html' with consultoria=consultoria %}
                {% include 'admin/consultorias/btn_eliminar_registro.html' with consultoria=consultoria %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
